extends layout

block content
  .ui.middle.aligned.center.aligned.grid(ng-controller='testCtrl as t')
    .column
      center
        img.ui.small.image(src="/images/logo_top.png")
      h1= app_name
      p #{welcome_msg} Registered {{t.count}} users.

      .ui.message
        a(href="/login") Login with Email Address

      .ui.message
        a(href="/auth/google") Login with Google

      .ui.message
        a(href="/signup") Signup
