extends layout

block content
  div(class="ui middle aligned center aligned grid")
    div(class="column")

      h1= title
      p Welcome to #{title}


      div(class="ui message")
        a(href="/auth/google") Login with Google

      div(class="ui message")
        a(href="/signup") Signup
