extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column

      h1= config['app_name']
      p #{config['welcome_msg']}

      .ui.message
        a(href="/login") Login with Email Address

      .ui.message
        a(href="/auth/google") Login with Google

      .ui.message
        a(href="/signup") Signup
