doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css' href='/semantic/dist/semantic.min.css')
    script(src='/semantic/dist/semantic.min.js')
    style(type="text/css") .column {max-width: 450px;} body {background-color: #DADADA; } body > .grid { height: 100%; } .image { margin-top: -100px; }

  body
    div(class="ui fixed inverted menu")
      div(class="ui container")
        a(href="#" class="item") WitchCoder
  
    block content
