extends layout

block content
  .container(style="max-width:330px;")
    center
      img(style="max-height:160px;" src="/images/logo_top.png")
      h1 Login

      if error.toString()
        .alert.alert-danger(role="alert")
          li= error

      form(method="POST", action="/login/return")
        p.input-group
          span.input-group-addon
            span.glyphicon.glyphicon-envelope(aria-hidden="true")
          input.form-control(type="email", name="email", placeholder="E-mail address", value="#{email.toString()}")
          
        p.input-group
          span.input-group-addon
            span.glyphicon.glyphicon-console(aria-hidden="true")
          input.form-control(type="password", name="password", placeholder="Password")
            
        input.btn.btn-block.btn-primary(type="submit" value="Login")

      p
        a(href="/signup") Signup?
        
      p
        a(href="/auth/google") Login with Google
