extends layout

block content

  div(class="ui middle aligned center aligned grid")
    div(class="column")

      h2(class="ui teal image header")
        div(class="content") Welcome to Express

      if errors.email || errors.password
        div(class="ui error message")
          ui
          if errors.email
            li #{errors.email}
          end
          if errors.password
            li #{errors.password}
          end
      end

      form(method="POST", action="/login/return" class="ui large form")
        div(class="ui stacked segment")

          div(class="field")
            div(class="ui left icon input")
              i(class="mail outline icon")
              input(type="text", name="email", placeholder="E-mail address", value="#{email}")

          div(class="field")
            div(class="ui left icon input")
              i(class="lock icon")
              input(type="password", name="password", placeholder="Password")

          input(type="submit" value="Login" class="ui fluid large teal submit button")

      div(class="ui message")
        i(class="mail outline icon")
        a(href="/signup") Signup?

      div(class="ui message")
        i(class="google plus icon")
        a(href="/auth/google") Login with Google
