extends layout

block content

  .ui.middle.aligned.center.aligned.grid
    .column
      h1.ui.teal.image.header.content #{config.app_name} - Login

      if errors.email || errors.password
        .ui.error.message
          ui
          if errors.email
            li #{message.email}
          end
          if errors.password
            li #{erros.password}
          end
      end

      .ui.large.form(method="POST", action="/login/return")
        .ui.stacked.segment

          .field
            .ui.left.icon.input
              i.mail.outline.icon
              input(type="text", name="email", placeholder="E-mail address", value="#{email}")

          .field
            .ui.left.icon.input
              i.lock.icon
              input(type="password", name="password", placeholder="Password")

          input.ui.fluid.large.teal.submit.button(type="submit" value="Login")

      .ui.message
        i.mail.outline.icon
        a(href="/signup") Signup?

      .ui.message
        i.google.plus.icon
        a(href="/auth/google") Login with Google
