extends layout

block content

  .ui.middle.aligned.center.aligned.grid
    .column
      .ui.teal.image.header.content
        h1 #{app_name} - Login

      if error.toString()
        .ui.error.message
          li= error
      end

      form.ui.large.form(method="POST", action="/login/return")
        .ui.stacked.segment

          .field
            .ui.left.icon.input
              i.mail.outline.icon
              input(type="email", name="email", placeholder="E-mail address", value="#{email.toString()}")

          .field
            .ui.left.icon.input
              i.lock.icon
              input(type="password", name="password", placeholder="Password")

          input.ui.fluid.large.teal.submit.button(type="submit" value="Login")

      .ui.message
        i.mail.outline.icon
        a(href="/signup") Signup?

      .ui.message
        i.google.plus.icon
        a(href="/auth/google") Login with Google
