extends layout

block content
  .container(ng-controller="newProblem as p")
    form(method="POST", action="/problem/new")
      .form-group.form-group-lg
        label(for='ProblemTitle') Title
        input.form-control(type='text' name='title' placeholder='ProblemTitle' id='ProblemTitle')
          
      .form-group
        label(for='Problem') Problem
        textarea.form-control(name='problem' rows="8" placeholder='Problem' id='Problem')
      
      
      label(for='TestCase') TestCases
      p
        .form-group(ng-repeat="tc in p.testCases" id='TestCase')
          .row
            .col-sm-8
              textarea.form-control(name='input' rows="1" placeholder='Input' value="{{tc.in}}")
            .col-sm-4
              textarea.form-control(name='expected' rows="1" placeholder='Expected' value="{{tc.exptected}}")
        
        
        
      p    
        a.btn.btn-success(role='button' ng-click="p.addTestCase()") Add Test Case
          span.glyphicon.glyphicon-plus(aria-hidden="true")

      p
        input.btn.btn-block.btn-primary(type="submit" value="Submit")
