extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      .ui.teal.image.header
        h1.content #{app_name} - Signup

      if errors.length > 0
        .ui.error.message
          each em in errors  
            li= em
          end
      end
      form.ui.large.form(method="POST", action="/signup/return")
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(type="text", name="name", placeholder="Your Account Name", value="#{name}")

          .field
            .ui.left.icon.input
              i.mail.outline.icon
              input(type="text", name="email", placeholder="E-mail address", value="#{email}")

          .field
            .ui.left.icon.input
              i(class="lock icon")
              input(type="password", name="password", placeholder="Password")
              
            .ui.left.icon.input
              i(class="lock icon")
              input(type="password", name="password_again", placeholder="PasswordAgain")

          input.ui.fluid.large.teal.submit.button(type="submit" value="Signup")

      .ui.message
        a(href="/login") Login with Email Address

      .ui.message
        a(href="/auth/google") Login with Google
